<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">

<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="sb-record.html">

<dom-module id="sb-dashboard">

  <template>
    <style include="shared-styles custom-style">
      vaadin-grid#girdPagination {
        font: 500 13px "Open Sans", sans-serif;
        color: rgb(66, 66, 66);
        --divider-color: rgb(223, 232, 239);

        --vaadin-grid-cell: {
          padding: 0 13px;
        }
        ;

        --vaadin-grid-body-cell: {
          height: 65px;
        }
        ;

        --vaadin-grid-header-cell: {
          background: rgba(0, 77, 64, 0.9);
          border-bottom: 1px solid rgba(0, 77, 64, 0.9);
          border-top: 1px solid rgba(248, 250, 252, 0.9);
          min-height: 35px;

          background-image: linear-gradient(rgba(0, 77, 64, 0), rgba(0, 77, 64, 0.15));
          background-size: 1px 100%;
          background-position: 100% 0%;
          background-repeat: no-repeat;
        }
        ;

        --vaadin-grid-body-row-selected-cell: {
          background-color: rgb(131, 183, 236);
          color: #fff;
          border-bottom-color: rgb(108, 160, 218);
        }
        ;

        --vaadin-grid-body-row-odd-cell: {
          background-color: rgb(251, 252, 254);
        }
        ;

        --vaadin-grid-body-row-hover-cell: {
          background-color: rgb(235, 238, 246);
        }
        ;

        --vaadin-grid-body-row-details-cell: {
          text-align: center;
        }
        ;

      }

      vaadin-grid#girdPagination input[type=checkbox] {
        height: 16px;
        width: 16px;
      }



      vaadin-grid#girdPagination .header-content {
        display: flex;
        padding: 16px;
        justify-content: space-between;
      }


      vaadin-grid#girdPagination .details-cell {
        background: #fff;
        width: 100%;
      }

      iron-icon {
        width: 10px;
        height: 10px;
        color: red
      }

      .mainPannerl {
        padding: 30px
      }

      .page-title {
        background: #4CAF50;
        padding: 10px 15px
      }

      .page-title h1 {
        font-size: 18px;
        color: #fff;
      }

      paper-dialog {
        width: 100%;
        background: #E8F5E9;
      }

      paper-button {
        background: #E65100;
        color: #fff;
        margin: 30px 0px 0px 0px
      }

      vaadin-grid#girdPagination .created {
        color: #2E7D32;

        overflow: hidden;
        text-overflow: ellipsis;
      }

      vaadin-grid#girdPagination .activated {
        color: #01579B;

      }

      .mainPannerl {
        padding: 0px 30px;
      }

      .page-title {
        background: #4CAF50;
        padding: 15px
      }

      .page-title h1 {
        font-size: 18px;
        color: #fff;
      }

      paper-dialog {
        width: 100%;
        background: #fff;
      }

      paper-button {
        background: #E65100;
        color: #fff;
        margin: 30px 0px 0px 0px
      }

      vaadin-grid#girdPagination .Created {
        color: #2E7D32;

        overflow: hidden;
        text-overflow: ellipsis;
      }

      vaadin-grid#girdPagination .Activated {
        color: #01579B;


        overflow: hidden;
        text-overflow: ellipsis;
      }

      vaadin-grid#girdPagination .Extended {
        color: #DD2C00;

        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>
    <iron-ajax id="offerDetails" on-response="_handleResponse" handle-as="json" auto></iron-ajax>
    <iron-ajax id="offerDetails1" on-response="_handleResponse1" handle-as="json"></iron-ajax>
    <div class="mainPannerl">
      <div class="page-title">
        <h1>Admin Pannel</h1>
      </div>
      <div class="card">
        <div class$="{{item.state}}">[[item.state]]</div>
        <vaadin-grid aria-label="Basic Binding Example" items="[[tableData]]" page-size="10" id="girdPagination">

          <vaadin-grid-column flex-grow="0">
            <template class="header">#</template>
            <template>[[index]]</template>

          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">
              <vaadin-grid-sorter path="offerId" class="OfferId">Offer Id</vaadin-grid-sorter>
            </template>

            <template id="viewid">
              <a on-tap="viewDetails">[[item.offerId]]
                <iron-icon icon="icons:add"></iron-icon>
              </a>
            </template>

          </vaadin-grid-column>

          <vaadin-grid-column width="150px">

            <template class="header">
              <vaadin-grid-sorter path="cif" class="CustomerId">Customer Id</vaadin-grid-sorter>
            </template>
            <template>[[item.cif]]</template>
          </vaadin-grid-column>

          <vaadin-grid-column width="150px">
            <template class="header">
              <vaadin-grid-sorter path="placeId" class="PlaceId">Place Id</vaadin-grid-sorter>
            </template>
            <template>
              <p style="white-space: normal">[[item.placeId]]</p>
            </template>

          </vaadin-grid-column>

          <vaadin-grid-column width="150px">
            <template class="header">Place Name</template>
            <template>
              <p style="white-space: normal">[[item.placeName]]</p>
            </template>

          </vaadin-grid-column>

          <vaadin-grid-column width="150px">
            <template class="header">Place Address</template>
            <template>
              <p style="white-space: normal">[[item.placeAddress]]</p>
            </template>

          </vaadin-grid-column>

          <vaadin-grid-column width="150px">
            <template class="header">Generated Time</template>
            <template>
              <p style="white-space: normal">[[item.generatedTime]]</p>
            </template>

          </vaadin-grid-column>

          <vaadin-grid-column width="150px">
            <template class="header">Expiration Time</template>
            <template>
              <p style="white-space: normal">[[item.expirateTime]]</p>
            </template>

          </vaadin-grid-column>

          <vaadin-grid-column width="150px">
            <template class="header">
              <vaadin-grid-sorter path="State" class="State">State</vaadin-grid-sorter>
            </template>
            <template>
              <p style="white-space: normal" class$="{{item.state}}">[[item.state]]</p>
            </template>

          </vaadin-grid-column>





        </vaadin-grid>

        <paper-dialog id="animated" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">
          <sb-record data=[[tableDataModel]]></sb-record>

          <div class="btn">
            <paper-button dialog-confirm autofocus rasied>Back To Offer Detail Page</paper-button>
          </div>
      </div>
      </paper-dialog>

    </div>
    </div>
  </template>

  <script>
    class SbDashboard extends Polymer.Element {
      static get is() { return 'sb-dashboard'; }

      static get properties() {
        return {
          OfferId: {
            type: Number,
            value: {}
          },

          CustomerId: {
            type: Number,
            value: {}
          },

          PlaceId: {
            type: String,
            value: {}
          },
          PlaceName: {
            type: String,
            value: {}
          },
          PlaceAddress: {
            type: String,
            value: {}
          },
          GeneratedTime: {
            type: String,
            value: {}
          },
          ExpirationTime: {
            type: String,
            value: {}
          },
          State: {
            type: String,
            value: {}
          }

        }
      }



      ready() {

        super.ready();

        var offerDetailsdata = this.$.offerDetails;
        offerDetailsdata.method = "get";
        offerDetailsdata.url = "http://192.168.1.109:8080/a3hack/offers/";
        offerDetailsdata.generateRequest();




      }

      _handleResponse(response) {

        var offerDetailsdata = response.detail.response;
        offerDetailsdata.signleoffer
        this.tableData = offerDetailsdata;
        this.tableDataModel = offerDetailsdata.signleoffer;
        console.log(offerDetailsdata)

      }
      _handleResponse1(response) {

        var offerDetailsdata1 = response.detail.response;

        this.tableData1 = offerDetailsdata1.offer;
        this.tableDataModel = offerDetailsdata1.signleoffer;

      }


      viewDetails(e) {
        var dialogbox = this.$.animated;
        dialogbox.open();
        var viewdetailsid = e.model.item.offerId;
        var offerDetailsdata1 = this.$.offerDetails1;
        // offerDetailsdata1.method = "get";
        offerDetailsdata1.url = "http://192.168.1.109:8080/a3hack/offers/" + viewdetailsid;
        offerDetailsdata1.generateRequest();


      }

    }

    window.customElements.define(SbDashboard.is, SbDashboard);
  </script>
</dom-module>