<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">

<dom-module id="sb-record">
    <template>
        <style>
            :host {
                display: block;
                padding: 10px 20px;
            }

            paper-dialog {
                width: 100%;
                background: #fff;
            }
        </style>
        [[id]]
        <iron-ajax auto on-response="getRecord" handle-as="json" url="data/single-offer.json"></iron-ajax>
        <div class="detailsView">
            <div class="Offerdetails">
                <template is="dom-repeat" items="{{data}}" as="user">
                    <h3>{{user.PlaceName}}</h3>
                    <h3>{{user.PlaceAddress}}</h3>
                    <br> {{user.PlaceAddress}}

                    <div class="map">
                        <google-map fit-to-markers api-key="AIzaSyD3E1D9b-Z7ekrT3tbhl_dy8DCXuIuDDRc">
                            <google-map-marker latitude="{{user.lattitude}}" longitude="{{user.longitude}}" draggable="true"></google-map-marker>
                        </google-map>
                    </div>
                </template>



            </div>

            <div class="btn">
                <paper-button dialog-confirm autofocus rasied>Back To Offer Detail Page</paper-button>
            </div>
        </div>
    </template>

    <script>
        class SbRecord extends Polymer.Element {
            static get is() { return 'sb-record'; }
            static get properties() {
                return {
                    tableDataModel: {
                        type: Array,
                        notify: true
                    },
                    data: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    rootPath: String,
                };
            }
            getRecord(response) {
                this.tableDataModel = response.detail.response.signleoffer;
                // offerDetailsdata1.url = "data/single-offer.json";
                // offerDetailsdata1.generateRequest();

            }
        }

        window.customElements.define(SbRecord.is, SbRecord);
    </script>
</dom-module>