<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">

<link rel="import" href="shared-styles.html">

<dom-module id="sb-user">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;

      }

      .card {
        width: 50%;
        margin: 0px auto;
        background: #fff;
        box-shadow: 0px 2px 5px #00000073;
      }

      .heading {
        background: green;
        color: #fff;
        padding: 20px;
      }

      .card-content,
      .card-actions {
        border-top: 1px solid #eee;
        padding: 20px;
      }

      .card-actions {
        padding: 10px 20px;
      }

      .submit {
        background: green;
        padding: 5px 10px;
        color: #fff;
      }
    </style>
    <iron-ajax id="ajaxElement" method="POST" url="http://192.168.1.109:8080/a3hack/checkin" content-type="application/json"
      handle-as="json" on-response="handleResponse" on-error="handleError" debounce-duration="300"></iron-ajax>
    <div class="card">
      <div class="heading">Offers</div>
      <div class="card-content">
        <iron-form id="offerForm">
          <form method="post">

            <paper-input auto-validate type="number" pattern="[0-9]*" placeholder="CIF No" type="text" name="cifNo" required id="cifNo"
              error-message="CIF is required"></paper-input>
            <paper-input auto-validate type="text" pattern="^[a-zA-Z0-9_.-]*$" placeholder="Device Id" name="deviceId" required id="deviceId"
              error-message="Device ID is required"></paper-input>
            <paper-input auto-validate type="text" pattern="^[0-9_.-]*$" placeholder="lattitude" id="latBox" required error-message="lattitude is required"></paper-input>
            <paper-input auto-validate type="text" pattern="^[0-9_.-]*$" placeholder="longitude" id="lngBox" required error-message="longitude is required"></paper-input>
            <!-- <paper-input placeholder="time" id="timeBox" readonly></paper-input> -->
          </form>
        </iron-form>

      </div>
      <div class="card-actions">
        <paper-button class="submit" type="button" on-tap="getOffer">Get Offer</paper-button>
      </div>
    </div>
    <paper-dialog id="offerPopUp" modal entry-animation="scale-up-animation" exit-animation="fade-out-animation">

    </paper-dialog>

  </template>

  <script>
    class SbUser extends Polymer.Element {
      static get is() { return 'sb-user'; }
      static get properties() {
        return {
          ajaxBody: {
            type: Object,
            notify: true,
            reflectToAttribute: true
          }

        };
      }
      connectedCallback() {
        super.connectedCallback();
        // this.getGeoLocation();
        // this.bindData();
      }

      bindData() {
        //this.$.timeBox.value = "2018-01-17T09:45:00.000+02:00";
      }

      getGeoLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(this.showPosition);
        }
      }

      showPosition(position) {
        console.log(position.coords.latitude);
        // this.$.latBox.value = String(position.coords.latitude);
      }

      getParamsForAjax() {

        return {
          cif: this.$.cifNo.value,
          deviceId: this.$.deviceId.value,
          deviceLocationLat: this.$.latBox.value,
          deviceLocationLon: this.$.lngBox.value,
          geofenceId: "TEST",
          //timePlaced: "2018-01-17T09:45:00.000+02:00"
        }

      }

      handleError(data) {
        alert("error");
      }

      handleResponse(data) {
        console.log(data.detail.response.message);
        if (data.detail.response.message != "WAITING") {
          this.$.offerPopUp.open();
        }

      }

      getOffer() {

        if (this.$.offerForm.validate()) {
          this.set("ajaxBody", this.getParamsForAjax());
          console.log(this.ajaxBody);
          this.$.ajaxElement.body = this.ajaxBody;
          this.$.ajaxElement.generateRequest();

        }
      }

    }

    window.customElements.define(SbUser.is, SbUser);
  </script>
</dom-module>